.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 16px 24px;
  color: white;
  font-weight: 400;
  cursor: pointer;

  &-primary {
    @extend .button;
    background-color: #e6007a !important;

    &:hover {
      background-color: black !important;
    }

    &-large {
      @extend .button-primary;
      height: 48px;
      width: 195px;
      font-size: 13px;
    }

    &-small {
      @extend .button-primary;
      height: 48px;
      width: 189px;
      font-size: 11px;
    }
  }

  &-secondary {
    @extend .button;
    background-color: white !important;
    color: black;
    border: 1px solid black;
    height: 46px;
    width: 165px;
    font-weight: 400;
    font-size: 11px;

    &:hover {
      background-color: #e6007a !important;
      color: white;
      border: none;
    }
  }

  &-interactive {
    @extend .button-primary;
    width: 424px;
    height: 51px;
    border-radius: 8px;
    font-size: 16px;

    &:disabled {
      background-color: rgba(0, 0, 0, 0.35) !important;
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }
}
